@{
    ViewData["Title"] = "Home Page";
}

<h1 class="display-1">Welcome to Rene's Gaming</h1>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Product Type</th>
                <th scope="col">Typical Price</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Xbox Games</td>
                <td>$49.99</td>
            </tr>
            <tr>
                <td>Arcade</td>
                <td>$5/hour</td>
            </tr>
        </tbody>
    </table>
</div>

<h2>About Rene's Gaming</h2>
<p>
    Lorem ipsum odor amet, consectetuer adipiscing elit. Neque ut at 
    sociosqu mattis; leo malesuada scelerisque. 
    Auctor egestas rhoncus justo augue cursus ad malesuada. 
    Ligula vestibulum imperdiet quisque senectus dapibus 
    montes non habitasse. Tellus nec venenatis sodales aptent 
    accumsan sociosqu pulvinar. Ultrices diam cubilia laoreet 
    nostra scelerisque. Sem velit scelerisque orci consequat nascetur 
    id primis. Tristique eros metus commodo nostra pellentesque 
    primis pellentesque tellus.
</p>